In [182]:
import re
import os
import pandas as pd
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\asus\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [163]:
def extract(content):
    """
    Extracts the contents between <TITLE>...</TITLE> and <TEXT>...</TEXT>
    tags and returns the concatenated data.
    """
    content = re.sub('\n', '', content)

    title = re.search('<TITLE>(.*?)</TITLE>', content).group(1)

    text = re.search('<TEXT>(.*?)</TEXT>', content).group(1)

    data = title + " " + text

    return data

In [164]:
def read_file(directory = "CSE508_Winter2023_Dataset"):
    data = {}
    for filename in os.listdir(directory):    
        file_path = os.path.join(directory, filename)
        with open(file_path, 'r') as f:
            file_contents = f.read()
        data[filename] = file_contents
    return data

In [165]:
data = read_file()
print("File count = ",len(data))

File count =  1400

In [166]:
def extract_data(data):
    extracted_data = {}
    for i in data.keys():
        extracted_data[i] = extract(data[i])
    return extracted_data

In [167]:
data = extract_data(data)

In [168]:
print(len(data))

1400

In [169]:
def save_data(data, directory_path):
    """
    Saves data from a dictionary to files, where the keys are the file names and the values are the contents of the files.
    """
    os.makedirs(directory_path, exist_ok=True)

    for filename, file_contents in data.items():
        file_path = os.path.join(directory_path, filename)
        
        with open(file_path, 'w') as f:
            f.write(file_contents)

In [170]:
directory_path = "CSE508_Winter2023_Dataset_Processed"
save_data(data,directory_path)

In [174]:
df = pd.DataFrame(list(data.items()),columns = ['file_name','raw_data'])

In [176]:
df['TEXT_LOWER']=df['raw_data'].str.lower()

In [183]:
df.head()

,file_name,raw_data,TEXT_LOWER,tokenization
0,cranfield0001,experimental investigation of the aerodynamics...,experimental investigation of the aerodynamics...,"[experimental, investigation, of, the, aerodyn..."
1,cranfield0002,simple shear flow past a flat plate in an inco...,simple shear flow past a flat plate in an inco...,"[simple, shear, flow, past, a, flat, plate, in..."
2,cranfield0003,the boundary layer in simple shear flow past a...,the boundary layer in simple shear flow past a...,"[the, boundary, layer, in, simple, shear, flow..."
3,cranfield0004,approximate solutions of the incompressible la...,approximate solutions of the incompressible la...,"[approximate, solutions, of, the, incompressib..."
4,cranfield0005,one-dimensional transient heat conduction into...,one-dimensional transient heat conduction into...,"[one-dimensional, transient, heat, conduction,..."

In [179]:
df["tokenization"] = df["TEXT_LOWER"].apply(nltk.word_tokenize)

In [181]:
df.head()

,file_name,raw_data,TEXT_LOWER,tokenization
0,cranfield0001,experimental investigation of the aerodynamics...,experimental investigation of the aerodynamics...,"[experimental, investigation, of, the, aerodyn..."
1,cranfield0002,simple shear flow past a flat plate in an inco...,simple shear flow past a flat plate in an inco...,"[simple, shear, flow, past, a, flat, plate, in..."
2,cranfield0003,the boundary layer in simple shear flow past a...,the boundary layer in simple shear flow past a...,"[the, boundary, layer, in, simple, shear, flow..."
3,cranfield0004,approximate solutions of the incompressible la...,approximate solutions of the incompressible la...,"[approximate, solutions, of, the, incompressib..."
4,cranfield0005,one-dimensional transient heat conduction into...,one-dimensional transient heat conduction into...,"[one-dimensional, transient, heat, conduction,..."